{% extends 'base.html' %}
{% block content %}
<h1>Max weekly mileage - {{ mileage }}</h1>
<table class="table table-striped">
    <tr>
        <th>Week</th>
        <th>Mileage</th>
        <th>Quality Run One</th>
        <th>Quality Run One Mileage</th>
        <th>Quality Run Two</th>
        <th>Quality Run Two Mileage</th>
    </tr>
    {% for run in runs %}
    <tr>
        <th>
        <a class="action" href="{{ url_for('marathon_calendar.get_workout') }}">Click Me</a>
            {{ run['Week'] }}
        </th>
        <td>{{ run['Fraction'] }}</td>
        <td>{{ run['Quality_One'] }}</td>
        <td>{{ run['Miles_Quality_One'] }}</td>
        <td>{{ run['Quality_Two'] }}</td>
        <td>{{ run['Miles_Quality_Two'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}